.contacts {
    background-image: url(../sources/images/bg_contacts.png);
        background-repeat: no-repeat;
        background-size: cover;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 130px;
        
    }
    &__title{
        text-align: center;
        font-size: 48px;
        color: #ff0018;
        font-weight: 800;
        letter-spacing: 5px;
        padding-bottom: 70px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 55px;
    }
    &__logo {
        img {
            margin-bottom: 30px;
            max-width: 100%;
        }
        p {
            font-size: 18px;
            color: #fff;
        }
    }
    &__social-networks{
        display: flex;
    }
}

.social-networks {
    &__item {
        margin-right: 20px;
        i {
            font-size: 24px;
            color: #fff;
        }
        i:hover {
            cursor: pointer;
            color: rgb(115, 119, 115);
            transition: 0.1s;
        }
        i:active {
            color: rgb(252, 5, 29);
            transition: 0.1s;  
        }
    }
}

.address {
    &__address {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
    }
    &__tel {
        margin-bottom: 30px;
        a {
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        }
        a:hover {
            cursor: pointer;
            color: rgb(115, 119, 115);
            transition: 0.1s;
        }
        a:active {
            color: rgb(252, 5, 29);
            transition: 0.1s;  
        }
        
    }
    &__mail {
        margin-bottom: 30px;
        a {
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        }
        a:hover {
            cursor: pointer;
            color: rgb(115, 119, 115);
            transition: 0.1s;
        }
        a:active {
            color: rgb(252, 5, 29);
            transition: 0.1s;  
        }
    }
    &__site{
        margin-bottom: 30px;
        a {
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        }
        a:hover {
            cursor: pointer;
            color: rgb(115, 119, 115);
            transition: 0.1s;
        }
        a:active {
            color: rgb(252, 5, 29);
            transition: 0.1s;  
        }
    }
}

.timetable {
    &__title {
        margin-bottom: 30px;
        font-size: 18px;
        color: #fff;
    }
    &__day {
        margin-bottom: 5px;
        font-size: 18px;
        color: #fff;
    }
}

 