.contacts {
  background-image: url(../sources/images/bg_contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 130px;
}

.contacts__title {
  text-align: center;
  font-size: 48px;
  color: #ff0018;
  font-weight: 800;
  letter-spacing: 5px;
  padding-bottom: 70px;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
}

.contacts__logo img {
  margin-bottom: 30px;
  max-width: 100%;
}

.contacts__logo p {
  font-size: 18px;
  color: #fff;
}

.contacts__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-networks__item {
  margin-right: 20px;
}

.social-networks__item i {
  font-size: 24px;
  color: #fff;
}

.social-networks__item i:hover {
  cursor: pointer;
  color: #737773;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.social-networks__item i:active {
  color: #fc051d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__address {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.address__tel {
  margin-bottom: 30px;
}

.address__tel a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.address__tel a:hover {
  cursor: pointer;
  color: #737773;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__tel a:active {
  color: #fc051d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__mail {
  margin-bottom: 30px;
}

.address__mail a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.address__mail a:hover {
  cursor: pointer;
  color: #737773;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__mail a:active {
  color: #fc051d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__site {
  margin-bottom: 30px;
}

.address__site a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.address__site a:hover {
  cursor: pointer;
  color: #737773;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.address__site a:active {
  color: #fc051d;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.timetable__title {
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
}

.timetable__day {
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
}
