.header {
    padding: 10px 15px 0px 15px;
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1140px;
        @media (max-width: 1200px) {
            max-width: 970px;
        }
        @media (max-width: 992px) {
            max-width: 750px;
        }
        @media (max-width: 768px) {
            max-width: 578px;
            display: none;
        }
        @media (max-width: 576px) {
            max-width: none;
        }
        
    }
    &__item {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        img{
        max-width: 125px;
        }
    }
    &__item:hover {
        cursor: pointer;
        text-decoration: none;
        color: rgb(115, 119, 115);
        transition: 0.1s;
        }
        &__item:active {
        color: rgb(252, 5, 29);
        transition: 0.1s;  
        }
        
    &__mobile-toggle {
            display: none; 
            position: fixed;
            top: 32px;
            right: 44px;
            z-index: 50;
            @media (max-width: 768px) {
                display: block;
            }
            ul, input {
                display: none;
            }
            label {
                cursor: pointer;
                color: #fff;
                font-size: 36px;
            }
            ul {
                position: absolute;
                right: 31px; 
                top: 40px;
                padding: 25px 30px;
                border-radius: 15px 0px 15px 15px;
                list-style: none;
                background: #22262aeb;
                li{
                    margin: 20px 0px;
                } 
            }
            Link {
                text-decoration: none;
                font-size: 18px;
                font-family: Poppins-Regular;
                color: #E7F5F8;
                text-transform: uppercase;
            }
            Link:hover {
                cursor: pointer;
            }
        }
        &__mobile-toggle :checked ~ ul {
                display: inline-block; 
    }

    &__logo-mobile {
        display: none;
        padding-bottom: 10px;
        @media (max-width: 768px) {
            display: block;
        }
        img{
            width: 100px;
        }
        
    }
}


 