.header {
    padding: 10px;
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__item {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        img{
        max-width: 125px;
        }
    }
    &__item:hover {
        cursor: pointer;
        text-decoration: none;
        color: rgb(115, 119, 115);
        transition: 0.1s;
        }
        &__item:active {
        color: rgb(252, 5, 29);
        transition: 0.1s;  
        }     
}


 